{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<!DOCTYPE html>
<html>
    <body>
        <form action="" method="post">
        <table>
            <thead>
                <td>Customer Name</td>
                <td>Customer Age</td>
                <td>Customer Contact Number</td>
                <td>Customer Email</td>
            </thead>
        <tr>
            <td><input type="text" placeholder="Customer Name" name="customer_name" required/></td>
            <td><input type="integer" placeholder="Customer Age" name="customer_age" required/></td>
        
            <td><input type="text" placeholder="Contact Number" name="contact_number" required /></td>
            <td><input type="text" placeholder="Email address" name="customer_email" required /></td>
        </tr>
        </table>
        <button type="submit">Create User</button>
        </form>
        <br>
        {% if newuser %}
            <p style="color: black"> <strong><em>New User Created! Your ID is:</em></strong> {{Cid}}
        {% endif %}
        <br>
        <br>
        <p><a href="/login">Back to Login</a></p>
    </body>
</html>
{% endblock %}
