{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<!DOCTYPE html>
<html>
    <body>
        <table border=1>
            <thead>
                <td>Restaurant ID</td>
                <td>Address</td>
                <td>Name</td>
                <td>contact Number</td>
            </thead>
            {% for restaurant in restaurants %}
            <tr>
                <td>{{restaurant["restaurant_id"]}}</td>
                <td>{{restaurant["address"]}}</td>
                <td>{{restaurant["name"]}}</td>
                <td>{{restaurant["contact_no"]}}</td>
            </tr>
            {% endfor %}
        </table>
        <form action="" method="post">
        <input type="text" placeholder="restaurant name" name="restaurant name" required/>
        <input type="integer" placeholder="table size" name="table size" required/>
        <button type="submit">reserve</button>
        </form>   
        {% if error %}
        <p style="color: red"> <strong><em>Error:</em></strong> {{error}}
        {% else %}
        <p> <strong><em>Congraulations! You have make an reservation</em></strong> </p>
        <p style="color:black"> <strong><em>The table_no is:</em></strong> {{table_no}}
        {% endif %}  
    </body>
</html>
{% endblock %}
